Repository damianmicheli/digital-booking-fe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy

build-backend:
  stage: build
  script:
    - echo "Compilando el codigo..."
  rules:
    - if: $CI_COMMIT_REF_NAME	 == 'test_cicd'
      changes:
      - backend/**/*

build-frontend:
  stage: build
  script:
    - echo "Compilando el codigo..."
  rules:
    - if: $CI_COMMIT_REF_NAME	 == 'test_cicd'
      changes:
        - frontend/**/*

test-backend:
  stage: test
  script:
    - echo "Ejecutando test unitarios..."
  rules:
    - if: $CI_COMMIT_REF_NAME	 == 'test_cicd'
      changes:
      - backend/**/*

test-frontend:
  stage: test
  script:
    - echo "Ejecutando test unitarios..."
  rules:
    - if: $CI_COMMIT_REF_NAME	 == 'test_cicd'
      changes:
      - frontend/**/*

deploy-backend:
  stage: deploy
  script:
    - echo "Deployando aplicacion de backend..."
  rules:
    - if: $CI_COMMIT_REF_NAME	 == 'test_cicd'
      changes:
      - backend/**/*

deploy-frontend:
  stage: deploy
  script:
    - echo "Deployando aplicacion de frontend..."
  rules:
    - if: $CI_COMMIT_REF_NAME	 == 'test_cicd'
      changes:
      - frontend/**/*

Cambio en el pipeline de backend
  backend/src/main/java/com/backend/util/DataLoader.java
Due: build-backend, test-backend, deploy-backend

Validaciones alta de producto - sin imagenes
  frontend/src/components/administration/Administration.jsx
  frontend/src/components/administration/administration.module.css
  frontend/src/components/administration/content/Attribute.jsx
  frontend/src/components/administration/content/Category.jsx
  frontend/src/components/administration/content/City.jsx
  frontend/src/components/cards/card.module.css
  frontend/src/components/login_register/Register.jsx
  frontend/src/components/login_register/loginRegister.module.css
  frontend/src/components/my_bookigns/MyBookings.jsx
  frontend/src/components/my_bookigns/mybookings.module.css
  frontend/src/components/user/User.jsx
Due: build-frontend, test-frontend, deploy-frontend

Cambio las imagenes del producto con ciudad Esquel
  backend/src/main/java/com/backend/util/DataLoader.java
Due: build-backend, test-backend, deploy-backend

organice carpeta de testing
  testing/Test Postman/digital_booking.postman_collection_Sprint_1_y_2.json
  testing/Test Postman/digital_booking.postman_collection_Sprint_3.json
Due: none

borro archivos duplicados
  backend/.gitignore
  testing/digital_booking.postman_collection.json
  testing/digital_booking.postman_collection_Sprint_3.json
  testing/digital_booking.postman_collection_sprint4.json
Due: build-backend, test-backend, deploy-backend

Alta de producto: sube imagen a AWS y lo agrega al post
  frontend/src/components/administration/Administration.jsx
  frontend/src/components/administration/administration.module.css
  frontend/src/components/administration/content/FileUpload.jsx
  frontend/src/components/cards/Card.jsx
  frontend/src/components/cards/card.module.css
  frontend/src/components/product/Product.jsx
  frontend/src/context/AttributeContext.jsx
  frontend/src/context/FavContext.jsx
  frontend/src/hooks/useFileUpload.jsx
Due: build-frontend, test-frontend, deploy-frontend

Validaciones de reserva y arreglo la validacion de usuario logueado en valorizacion de producto
  frontend/src/components/booking_template/BookingTemplate.jsx
  frontend/src/components/global/modal/alert/alertUser.module.css
  frontend/src/components/product/content/Score.jsx
Due: build-frontend, test-frontend, deploy-frontend

Corrigo CSS de cards - map - product
  frontend/src/components/cards/cards.module.css
  frontend/src/components/categories/cardsCategories.module.css
  frontend/src/components/map/MapView.jsx
  frontend/src/components/map/mapview.module.css
  frontend/src/components/pagination/pagination.module.css
  frontend/src/components/product/content/descriptionProduct.module.css
  frontend/src/components/product/content/features.module.css
  frontend/src/components/product/content/politics.module.css
  frontend/src/components/product/content/score.module.css
Due: build-frontend, test-frontend, deploy-frontend

Se ordenan alfabéticamente las ciudades
  backend/src/main/java/com/backend/repository/ICiudadRepository.java
  backend/src/main/java/com/backend/service/CiudadService.java
  backend/src/main/java/com/backend/util/DataLoader.java
  base-de-datos/diagrama.png
  base-de-datos/esquema-bd.pdf
  base-de-datos/esquemaBD.mwb
  base-de-datos/tablaCategorias.png
Due: build-backend, test-backend, deploy-backend

Alta de producto con 1 imagen, sin doble click
  frontend/src/components/administration/Administration.jsx
  frontend/src/components/administration/administration.module.css
  frontend/src/hooks/useFileUpload.jsx
  frontend/src/hooks/useForm.jsx
Due: build-frontend, test-frontend, deploy-frontend

Ajustes en fetch de realizar reservas y de useFileUpload
  frontend/src/components/booking_template/BookingTemplate.jsx
  frontend/src/hooks/useFileUpload.jsx
Due: build-frontend, test-frontend, deploy-frontend

Anulo funcionalidad de borrar en inputs atributos
  frontend/src/context/AttributeContext.jsx
Due: build-frontend, test-frontend, deploy-frontend

Carga múltiples imágenes pero devuelve sólo 1 url de AWS
  frontend/src/components/administration/Administration.jsx
  frontend/src/hooks/useFileUpload.jsx
Due: build-frontend, test-frontend, deploy-frontend

Genera las URL de AWS para cada archivo
  frontend/src/hooks/useFileUpload.jsx
Due: build-frontend, test-frontend, deploy-frontend

Actualizo codigo
  frontend/src/components/administration/Administration.jsx
  frontend/src/hooks/useFileUpload.jsx
Due: build-frontend, test-frontend, deploy-frontend

Funcionalidad agregar multiples imágenes funcionando
  frontend/src/hooks/useFileUpload.jsx
Due: build-frontend, test-frontend, deploy-frontend

comento favoritos
  frontend/src/components/cards/Card.jsx
Due: build-frontend, test-frontend, deploy-frontend

Agrego mensajes de aviso para carga de imágenes
  frontend/src/components/administration/Administration.jsx
  frontend/src/components/cards/Card.jsx
  frontend/src/hooks/useFileUpload.jsx
Due: build-frontend, test-frontend, deploy-frontend

Anulo icono favoritos en detalle de producto
  frontend/src/components/product/Product.jsx
Due: build-frontend, test-frontend, deploy-frontend

Agrego repodrte final de testing
  .DS_Store
  testing/.DS_Store
  testing/Reporte Final de Testing grupo 4.docx.pdf
  testing/Selenium IDE/.DS_Store
  testing/TESTING-PI-Grupo4.xlsx
  testing/Template-casos-de-prueba-PI-Grupo4.xlsx
  testing/Test Postman/.DS_Store
Due: none

Limpieza y refactorización de código
  frontend/src/components/administration/Administration.jsx
  frontend/src/components/cards/Card.jsx
  frontend/src/components/gallery/gallery.module.css
  frontend/src/components/product/Product.jsx
  frontend/src/hooks/useFileUpload.jsx
Due: build-frontend, test-frontend, deploy-frontend

Se completaron test unitarios
  .DS_Store
  backend/.gitignore
  backend/src/main/java/com/backend/dto/ProductoDTO.java
  backend/src/main/java/com/backend/entity/Producto.java
  backend/src/main/java/com/backend/service/ICategoriaService.java
  backend/src/main/java/com/backend/service/ICiudadService.java
  backend/src/main/java/com/backend/service/IImagenService.java
  backend/src/main/java/com/backend/service/ImagenService.java
  backend/src/main/java/com/backend/util/DataLoader.java
  backend/src/test/java/com/backend/service/CategoriaServiceTest.java
  backend/src/test/java/com/backend/service/CiudadServiceTest.java
  backend/src/test/java/com/backend/service/ImagenServiceTest.java
  backend/src/test/java/com/backend/service/ProductoServiceTest.java
  backend/src/test/java/com/backend/service/ReservaServiceTest.java
  backend/src/test/java/com/backend/service/UsuarioServiceTest.java
  testing/.DS_Store
  testing/Selenium IDE/.DS_Store
  testing/Test Postman/.DS_Store
Due: build-backend, test-backend, deploy-backend

Modificar .gitignore
  backend/.gitignore
Due: build-backend, test-backend, deploy-backend

Modificar .gitignore
  .gitignore
Due: none

completar tests unitarios junit
  backend/src/main/java/com/backend/entity/Caracteristica.java
  backend/src/main/java/com/backend/entity/Categoria.java
  backend/src/main/java/com/backend/entity/Ciudad.java
  backend/src/main/java/com/backend/entity/Imagen.java
  backend/src/main/java/com/backend/entity/Producto.java
  backend/src/main/java/com/backend/entity/Puntuacion.java
  backend/src/main/java/com/backend/entity/Reserva.java
  backend/src/main/java/com/backend/entity/Rol.java
  backend/src/main/java/com/backend/entity/Usuario.java
  backend/src/test/java/com/backend/service/ReservaServiceTest.java
  backend/src/test/java/com/backend/service/UsuarioServiceTest.java
Due: build-backend, test-backend, deploy-backend

completar tests unitarios junit
  backend/src/main/java/com/backend/entity/Producto.java
  backend/src/main/java/com/backend/service/ProductoService.java
  backend/src/test/java/com/backend/service/ProductoServiceTest.java
Due: build-backend, test-backend, deploy-backend

Completar test unitarios backend
  .DS_Store
  .gitignore
  backend/.gitignore
  backend/src/main/java/com/backend/dto/ProductoDTO.java
  backend/src/main/java/com/backend/entity/Caracteristica.java
  backend/src/main/java/com/backend/entity/Categoria.java
  backend/src/main/java/com/backend/entity/Ciudad.java
  backend/src/main/java/com/backend/entity/Imagen.java
  backend/src/main/java/com/backend/entity/Producto.java
  backend/src/main/java/com/backend/entity/Puntuacion.java
  backend/src/main/java/com/backend/entity/Reserva.java
  backend/src/main/java/com/backend/entity/Rol.java
  backend/src/main/java/com/backend/entity/Usuario.java
  backend/src/main/java/com/backend/service/ICategoriaService.java
  backend/src/main/java/com/backend/service/ICiudadService.java
  backend/src/main/java/com/backend/service/IImagenService.java
  backend/src/main/java/com/backend/service/ImagenService.java
  backend/src/main/java/com/backend/service/ProductoService.java
  backend/src/main/java/com/backend/util/DataLoader.java
  backend/src/test/java/com/backend/service/CategoriaServiceTest.java
  backend/src/test/java/com/backend/service/CiudadServiceTest.java
  backend/src/test/java/com/backend/service/ImagenServiceTest.java
  backend/src/test/java/com/backend/service/ProductoServiceTest.java
  backend/src/test/java/com/backend/service/ReservaServiceTest.java
  backend/src/test/java/com/backend/service/UsuarioServiceTest.java
  testing/.DS_Store
  testing/Selenium IDE/.DS_Store
  testing/Test Postman/.DS_Store
Due: build-backend, test-backend, deploy-backend

Cambio en url de backend
  frontend/src/components/global/aws.jsx
Due: build-frontend, test-frontend, deploy-frontend

Arreglar pipeline
  .gitlab-ci.yml
Due: none
