Repository damianmicheli/digital-booking-fe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy

build-backend:
  stage: build
  script:
    - echo "Compilando el codigo..."
  rules:
    - changes:
      - backend/**/*

build-frontend:
  stage: build
  script:
    - echo "Compilando el codigo..."
  rules:
    - changes:
      - frontend/**/*

test-backend:
  stage: test
  script:
    - echo "Ejecutando test unitarios..."
  rules:
    - changes:
      - backend/**/*

test-frontend:
  stage: test
  script:
    - echo "Ejecutando test unitarios..."
  rules:
    - changes:
      - frontend/**/*

deploy-backend:
  stage: deploy
  script:
    - echo "Deployando aplicacion de backend..."
  rules:
    - changes:
      - backend/**/*

deploy-frontend:
  stage: deploy
  script:
    - echo "Deployando aplicacion de frontend..."
  rules:
    - changes:
      - frontend/**/*

modificacion gitlba-ci
  .gitlab-ci.yml
  backend/src/test/java/com/backend/service/ImagenServiceTest.java
Due: build-backend, test-backend, deploy-backend

Restringir pipeline a main
  .gitlab-ci.yml
  backend/src/test/java/com/backend/service/ReservaServiceTest.java
Due: build-backend, test-backend, deploy-backend

Agrego modales success/failure para login y registo
  frontend/src/assets/img/failure-icon.png
  frontend/src/components/administration/administration.module.css
  frontend/src/components/body/Body.jsx
  frontend/src/components/global/modal/Failure.jsx
  frontend/src/components/global/modal/alert/Alert.jsx
  frontend/src/components/global/modal/success/success.module.css
  frontend/src/components/header/Header.jsx
  frontend/src/components/header/menuDrawer/MenuDrawer.jsx
  frontend/src/components/login_register/Login.jsx
  frontend/src/components/login_register/Register.jsx
  frontend/src/hooks/useForm.jsx
Due: build-frontend, test-frontend, deploy-frontend

Cambios en pipeline
  .gitlab-ci.yml
  backend/src/test/java/com/backend/service/ProductoServiceTest.java
Due: build-backend, test-backend, deploy-backend

Cambios en pipeline
  .gitlab-ci.yml
  backend/src/test/java/com/backend/service/UsuarioServiceTest.java
Due: build-backend, test-backend, deploy-backend

Test de pipeline
  backend/src/test/java/com/backend/service/ReservaServiceTest.java
Due: build-backend, test-backend, deploy-backend

Test de pipeline
  .gitlab-ci.yml
  backend/src/test/java/com/backend/service/ReservaServiceTest.java
Due: build-backend, test-backend, deploy-backend

Avances en lógica de carga de atributos e imágenes
  frontend/src/components/administration/Administration.jsx
  frontend/src/components/administration/Attribute.jsx
  frontend/src/components/administration/FileUpload.jsx
  frontend/src/components/administration/administration.module.css
Due: build-frontend, test-frontend, deploy-frontend

Agregar atributo puntajePromedio a Producto, y endpoint /puntuar en api productos
  backend/src/main/java/com/backend/controller/ProductoController.java
  backend/src/main/java/com/backend/dto/ProductoDTO.java
  backend/src/main/java/com/backend/dto/PuntuacionDTO.java
  backend/src/main/java/com/backend/entity/Imagen.java
  backend/src/main/java/com/backend/entity/Producto.java
  backend/src/main/java/com/backend/entity/Puntuacion.java
  backend/src/main/java/com/backend/repository/IProductoRepository.java
  backend/src/main/java/com/backend/repository/IPuntuacionRepository.java
  backend/src/main/java/com/backend/service/IProductoService.java
  backend/src/main/java/com/backend/service/IUsuarioService.java
  backend/src/main/java/com/backend/service/ProductoService.java
  backend/src/main/java/com/backend/service/ReservaService.java
  backend/src/main/java/com/backend/service/UsuarioService.java
  backend/src/test/java/com/backend/service/UsuarioServiceTest.java
Due: build-backend, test-backend, deploy-backend

Se valida que el usuario exista al guardar puntaje
  backend/src/main/java/com/backend/service/ProductoService.java
Due: build-backend, test-backend, deploy-backend

Agregar pipelines
  .gitlab-ci.yml
  backend/0521PTC3N1-grupo4.pem
  backend/src/main/resources/application.properties.aws
  frontend/src/components/global/aws.jsx
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Avances en lógica atributos/imagenes
  frontend/src/App.js
  frontend/src/components/administration/Administration.jsx
  frontend/src/components/administration/administration.module.css
  frontend/src/components/administration/content/Attribute.jsx
  frontend/src/components/administration/content/Category.jsx
  frontend/src/components/administration/content/City.jsx
  frontend/src/components/administration/content/FileUpload.jsx
  frontend/src/components/templateGeneralResponsive/TemplateGeneral.jsx
  frontend/src/components/templateGeneralResponsive/templateGeneral.module.css
Due: build-frontend, test-frontend, deploy-frontend

Logíca atributos antes de crear contexto
  frontend/src/components/administration/Administration.jsx
  frontend/src/components/administration/administration.module.css
  frontend/src/components/administration/content/Attribute.jsx
  frontend/src/components/administration/content/Category.jsx
Due: build-frontend, test-frontend, deploy-frontend

Agregar favicon
  frontend/public/images/demo.png
  frontend/public/images/favicon.ico
  frontend/public/index.html
Due: build-frontend, test-frontend, deploy-frontend

Avances en lógica atributos
  frontend/src/components/administration/Administration.jsx
  frontend/src/components/administration/content/Attribute.jsx
  frontend/src/components/templateGeneralResponsive/TemplateGeneral.jsx
  frontend/src/context/AttributeContext.jsx
Due: build-frontend, test-frontend, deploy-frontend

Ajustes registro
  frontend/src/components/login_register/Register.jsx
  frontend/src/context/AttributeContext.jsx
  frontend/src/hooks/useForm.jsx
Due: build-frontend, test-frontend, deploy-frontend

Cambiar imagen demo
  frontend/public/images/demo.png
Due: build-frontend, test-frontend, deploy-frontend

Agrego modal failure para post reserva
  frontend/src/components/booking_template/BookingTemplate.jsx
  frontend/src/components/login_register/Register.jsx
Due: build-frontend, test-frontend, deploy-frontend

Agrego modal failure para post reserva
  frontend/src/components/booking_template/BookingTemplate.jsx
Due: build-frontend, test-frontend, deploy-frontend

Arreglo css en Reservas y calendarios
  frontend/src/components/administration/administration.module.css
  frontend/src/components/booking_template/bookingTemplate.module.css
  frontend/src/components/booking_template/calendar.module.css
  frontend/src/components/product/Product.jsx
  frontend/src/components/product/content/booking_calendar/booking.module.css
Due: build-frontend, test-frontend, deploy-frontend

Bug en validaciones y post de registro: solucionado
  frontend/src/hooks/useForm.jsx
Due: build-frontend, test-frontend, deploy-frontend

Funcionalidad 'agregar inputs de atributos' funcionando
  frontend/src/components/administration/Administration.jsx
  frontend/src/components/administration/administration.module.css
  frontend/src/components/administration/content/Attribute.jsx
  frontend/src/context/AttributeContext.jsx
Due: build-frontend, test-frontend, deploy-frontend

Post alta de producto con caracteristicas: funcionando
  frontend/src/components/administration/Administration.jsx
  frontend/src/components/administration/content/Attribute.jsx
  frontend/src/context/AttributeContext.jsx
Due: build-frontend, test-frontend, deploy-frontend

agrego coleccion completa Postman y Selenium
  testing/Selenium IDE/Digital_Booking.side
  testing/Selenium IDE/digitalbooking.com.side
  testing/Test Postman/digital_booking.postman_collection_sprint4.json
Due: none

Agrego funcionalidad para puntuar un producto
  frontend/src/components/cards/Card.jsx
  frontend/src/components/cards/Cards.jsx
  frontend/src/components/cards/card.module.css
  frontend/src/components/global/getDescriptionScore.jsx
  frontend/src/components/global/modal/alert/AlertUser.jsx
  frontend/src/components/global/modal/alert/alert.module.css
  frontend/src/components/global/modal/alert/alertUser.module.css
  frontend/src/components/home/Home.jsx
  frontend/src/components/login_register/Login.jsx
  frontend/src/components/my_bookigns/MyBookings.jsx
  frontend/src/components/product/Product.jsx
  frontend/src/components/product/content/LocationProduct.jsx
  frontend/src/components/product/content/Score.jsx
  frontend/src/components/product/content/SocialMediaShare.jsx
  frontend/src/components/product/content/locationProduct.module.css
  frontend/src/components/product/content/score.module.css
Due: build-frontend, test-frontend, deploy-frontend

Incluyo estrellas en el componente producto
  frontend/src/components/booking_template/BookingTemplate.jsx
  frontend/src/components/booking_template/booking_detail/BookingDetail.jsx
  frontend/src/components/booking_template/booking_detail/bookingDetail.module.css
  frontend/src/components/cards/Card.jsx
  frontend/src/components/cards/card.module.css
  frontend/src/components/categories/CardsCategories.jsx
  frontend/src/components/global/getStarNum.jsx
  frontend/src/components/product/Product.jsx
  frontend/src/components/product/content/DescriptionProduct.jsx
  frontend/src/components/product/content/LocationProduct.jsx
  frontend/src/components/product/content/Score.jsx
  frontend/src/components/product/content/locationProduct.module.css
  frontend/src/styles/index.css
Due: build-frontend, test-frontend, deploy-frontend

Ajusto css y nomenclatura de calendarios
  frontend/src/components/administration/Administration.jsx
  frontend/src/components/administration/content/Attribute.jsx
  frontend/src/components/booking_template/calendar.module.css
  frontend/src/components/product/content/booking_calendar/BookingCalendar.jsx
  frontend/src/components/product/content/booking_calendar/CalendarBooking.jsx
  frontend/src/components/product/content/booking_calendar/booking.module.css
  frontend/src/components/product/content/booking_calendar/stylesCalendar.css
  frontend/src/components/search/Search.jsx
  frontend/src/components/search/content/CalendarSearch.jsx
  frontend/src/context/AttributeContext.jsx
Due: build-frontend, test-frontend, deploy-frontend

Agrego condicional para renderizar texto Recomendaciones / Resultados de tu búsqueda
  frontend/src/components/cards/Cards.jsx
  frontend/src/components/product/content/Score.jsx
  frontend/src/context/AttributeContext.jsx
Due: build-frontend, test-frontend, deploy-frontend

Ajusto css de usuario logueado en menú mobile
  frontend/src/components/cards/Cards.jsx
  frontend/src/components/user/User.jsx
  frontend/src/components/user/user.module.css
Due: build-frontend, test-frontend, deploy-frontend

Css reservas, mapa, cards // Botones header visibles mientras no se inicie sesión
  frontend/src/components/cards/Cards.jsx
  frontend/src/components/header/Header.jsx
  frontend/src/components/map/MapView.jsx
  frontend/src/components/map/mapview.module.css
  frontend/src/components/my_bookigns/MyBookings.jsx
  frontend/src/components/my_bookigns/mybookings.module.css
  frontend/src/components/product/content/booking_calendar/booking.module.css
  frontend/src/context/AttributeContext.jsx
Due: build-frontend, test-frontend, deploy-frontend

Cambiar endpoint RDS
  backend/src/main/resources/application.properties.aws
Due: build-backend, test-backend, deploy-backend

Agrego funcionalidad en reservas: actualizar 'ciudad' de usuario
  frontend/src/components/booking_template/BookingTemplate.jsx
Due: build-frontend, test-frontend, deploy-frontend

Agrego css para error en inputs de Login y Registro y boton disabled si hay errores
  frontend/src/components/global/Button.jsx
  frontend/src/components/header/menuDrawer/menuDrawer.module.css
  frontend/src/components/login_register/Login.jsx
  frontend/src/components/login_register/Register.jsx
  frontend/src/components/login_register/loginRegister.module.css
  frontend/src/components/my_bookigns/mybookings.module.css
  frontend/src/components/user/user.module.css
  frontend/src/styles/index.css
Due: build-frontend, test-frontend, deploy-frontend

Creo contenido para los productos
  backend/src/main/java/com/backend/util/DataLoader.java
  frontend/src/components/booking_template/BookingTemplate.jsx
  frontend/src/components/cards/card.module.css
  frontend/src/data/alojamientos.json
  frontend/src/data/categorias.json
  frontend/src/data/ciudades.json
  frontend/src/data/images.json
  frontend/src/data/users.json
Due: build-backend, build-frontend, test-backend, test-frontend, deploy-backend, deploy-frontend

Corrigo Merge
  frontend/src/components/booking_template/BookingTemplate.jsx
Due: build-frontend, test-frontend, deploy-frontend

Cambio css por defecto en autocompletado de inputs
  frontend/src/components/login_register/loginRegister.module.css
  frontend/src/hooks/useForm.jsx
  frontend/src/styles/index.css
Due: build-frontend, test-frontend, deploy-frontend

Prueba validaciones reservas
  frontend/src/components/booking_template/BookingTemplate.jsx
  frontend/src/components/booking_template/bookingTemplate.module.css
  frontend/src/components/cards/card.module.css
  frontend/src/styles/index.css
Due: build-frontend, test-frontend, deploy-frontend

Cambio en el pipeline de backend
  backend/src/test/java/com/backend/service/CiudadServiceTest.java
Due: build-backend, test-backend, deploy-backend

Cambio en el pipeline de backend
  backend/src/main/java/com/backend/util/DataLoader.java
Due: build-backend, test-backend, deploy-backend
